* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --cyan-color: #e0ffff;
    --green-color: #448644;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cyan-color) ;
}

.banner {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #00c6ff, #a200ff);
    padding: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;

}

.banner .text h1 {
    color: var(--white-color);
    margin: 0;
}

.banner .text p {
    color: var(--white-color);
    margin: 0;
}

.first-section{
    margin: 10px;
    padding: 10px;
    padding-top: 20px;
    background-color: var(--white-color);
}

.fs16{
    font-size: 16px;
}
.fs12{
    font-size: 12px;
}

.no-connection{
    margin: 10px;
    padding: 10px;
    padding-top: 15px;
    background-color: var(--cyan-color);
}

#add-connector{
    padding: 2px;
    color: var(--white-color);
    background-color: var(--green-color);
    border-color: var(--green-color);
    border-radius: 2px;
    height: auto;
    width: auto;
}
